<template>
  <button :type="type" :class="_class" :disabled="disabled" @click="runChild">
    <svg
      v-if="loading"
      class="animate-spin -ml-1 mx-3 h-full w-5 text-white inline-block"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
    <slot></slot>
  </button>
</template>
<script>
export default {
  props: {
    block: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    pill: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: "md",
    },
    squared: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: "button",
    },
    variant: {
      type: String,
      default: "secondary",
    },
    to: {
      type: [Object, String],
    },
  },
  computed: {
    _class() {
      return `btn mb-1 transition duration-300 ease-in-out disabled:opacity-50 focus:outline-none focus:shadow-outline ${this._bgColor} hover:shadow-sm  font-normal mr-1 rounded${this._rounded} ${this._block} ${this._sizeButton}`;
    },
    _block() {
      if (this.block) {
        return "w-full";
      }
      return "";
    },
    _rounded() {
      if (this.pill) {
        return "-full";
      }
      if (this.squared) {
        return "-none";
      }
      return "";
    },
    _bgColor() {
      switch (this.variant) {
        case "secondary":
          return "text-white bg-gray-500 hover:bg-gray-400";
        case "outline-secondary":
          return "hover:text-white text-gray-500 border-solid border border-gray-500 hover:bg-gray-500";
        case "primary":
          return "text-white bg-indigo-500 hover:bg-indigo-400";
        case "outline-primary":
          return "hover:text-white text-indigo-500 border-solid border border-indigo-500 hover:bg-indigo-500";
        case "success":
          return "text-white bg-green-500 hover:bg-green-400";
        case "outline-success":
          return "hover:text-white text-green-500 border-solid border border-green-500 hover:bg-green-500";
        case "danger":
          return "text-white bg-red-500 hover:bg-red-400";
        case "outline-danger":
          return "hover:text-white text-red-500 border-solid border border-red-500 hover:bg-red-500";
        case "warning":
          return "text-white bg-yellow-500 hover:bg-yellow-400";
        case "outline-warning":
          return "hover:text-white text-yellow-500 border-solid border border-yellow-500 hover:bg-yellow-500";
        case "info":
          return "text-white bg-blue-500 hover:bg-blue-400";
        case "outline-info":
          return "hover:text-white text-blue-500 border-solid border border-blue-500 hover:bg-blue-500";
        case "light":
          return "text-gray-500 bg-gray-50 hover:bg-gray-100";
        case "outline-light":
          return "text-white hover:text-gray-500 border-solid border border-gray-50 hover:bg-gray-100";
        case "dark":
          return "text-gray-50 bg-gray-800 hover:bg-gray-700";
        case "outline-dark":
          return "hover:text-white text-black border-solid border border-gray-800 hover:bg-gray-700";
        default:
          return "text-white bg-gray-500 hover:bg-gray-400";
      }
    },
    _sizeButton() {
      switch (this.size) {
        case "sm":
          return "text-xs h-8 py-2 px-3";
        case "md":
          return "text-base h-11 py-2 px-3";
        case "lg":
          return "text-lg h-16 py-2 px-4";
        default:
          return "text-base h-11 py-2 px-3";
      }
    },
  },
  methods: {
    runChild() {
      if (this.to != null) {
        this.$router.push(this.to);
      }
    },
  },
};
</script>
