<template>
  <div v-if="_show" :class="_class" role="alert">
    <p><slot></slot></p>
    <span
      v-if="_dismissible"
      class="absolute inset-y-0 right-0 flex items-center mr-4"
      @click.prevent="onCloseAlert"
    >
      <svg class="w-4 h-4 fill-current" role="button" viewBox="0 0 20 20">
        <path
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
          fill-rule="evenodd"
        ></path>
      </svg>
    </span>
  </div>
</template>
<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    variant: {
      type: String,
      default: "info",
    },
    dismissible: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      stateDismissible: true,
    };
  },
  computed: {
    _class() {
      return `relative px-4 mb-1 py-3  leading-normal ${this._backgroundAndText} rounded-lg `;
    },
    _show() {
      if (this.stateDismissible === false) return false;
      return this.show;
    },
    _dismissible() {
      return this.dismissible;
    },
    _backgroundAndText() {
      switch (this.variant) {
        case "secondary":
          return "text-gray-800 bg-gray-200";
        case "primary":
          return "text-indigo-800 bg-indigo-200";
        case "success":
          return "text-green-800 bg-green-200";
        case "danger":
          return "text-red-800 bg-red-200";
        case "warning":
          return "text-yellow-800 bg-yellow-200";
        case "info":
          return "text-blue-800 bg-blue-200";
        case "light":
          return "text-gray-500 bg-gray-50";
        case "dark":
          return "text-gray-50 bg-gray-800";
        default:
          return "text-gray-800 bg-gray-200";
      }
    },
  },
  methods: {
    onCloseAlert() {
      this.stateDismissible = false;
    },
  },
};
</script>
