<template>
  <div
    class="relative bg-gray-50 flex justify-center items-center min-h-screen min-w-full"
  >
    <div class="lg:w-6/12 w-11/12">
      <p class="text-3xl mb-3">Contextual variants</p>
      <t-alert show variant="primary" dismissible>Primary Alert</t-alert>
      <t-alert show variant="secondary">Secondary Alert</t-alert>
      <t-alert show variant="success" dismissible>Success Alert</t-alert>
      <t-alert show variant="danger">Danger Alert</t-alert>
      <t-alert show variant="warning">Warning Alert</t-alert>
      <t-alert show variant="info">Info Alert</t-alert>
      <t-alert show variant="light">Light Alert</t-alert>
      <t-alert show variant="dark" dismissible>Dark Alert</t-alert>
    </div>
  </div>
</template>
<script>
import TAlert from "../../components/Alert/TAlert.vue";
export default {
  components: {
    TAlert,
  },
};
</script>
