<template>
  <div
    class="relative bg-gray-50 flex justify-center items-center min-h-screen min-w-full"
  >
    <div class="lg:w-6/12 w-11/12">
      <p class="text-3xl mb-3">Button</p>
      <p class="font-bold text-3xl">Solid color variants</p>
      <p>primary, secondary, success, danger, warning, info, light and dark.</p>
      <div class="my-2">
        <t-button variant="primary">Primary</t-button>
        <t-button variant="secondary">Secondary</t-button>
        <t-button variant="success">Success</t-button>
        <t-button variant="danger">Danger</t-button>
        <t-button variant="warning">Warning</t-button>
        <t-button variant="info">Info</t-button>
        <t-button variant="light">Light</t-button>
        <t-button variant="dark">Dark</t-button>
        <pre><code>{{ solidcolorVariantsCode }}</code></pre>
      </div>
      <p class="font-bold text-3xl">Outline color variants</p>
      <p>
        In need of a button, but not the hefty background colors they bring? Use
        the outline-* variants to remove all background images
      </p>
      <p>
        outline-primary, outline-secondary, outline-success, outline-danger,
        outline-warning, outline-info, outline-light and outline-dark.
      </p>
      <div class="my-2">
        <t-button variant="outline-primary">Primary</t-button>
        <t-button variant="outline-secondary">Secondary</t-button>
        <t-button variant="outline-success">Success</t-button>
        <t-button variant="outline-danger">Danger</t-button>
        <t-button variant="outline-warning">Warning</t-button>
        <t-button variant="outline-info">Info</t-button>
        <t-button variant="outline-light">Light</t-button>
        <t-button variant="outline-dark">Dark</t-button>
        <pre><code>{{ borderColorCode }}</code></pre>
      </div>
      <p class="font-bold text-3xl">Block level buttons</p>
      <p>
        Create block level buttons — those that span the full width of a parent
        — by setting the block prop.
      </p>
      <div class="my-2">
        <t-button block variant="primary">Primary</t-button>
        <t-button block variant="secondary">Secondary</t-button>
        <t-button block variant="success">Success</t-button>
        <t-button block variant="danger">Danger</t-button>
        <t-button block variant="warning">Warning</t-button>
        <t-button block variant="info">Info</t-button>
        <t-button block variant="light">Light</t-button>
        <t-button block variant="dark">Dark</t-button>
        <pre><code>{{ borderColorCode }}</code></pre>
      </div>
      <p class="font-bold text-3xl">Pill style</p>
      <p>
        Prefer buttons with a more rounded-pill style? Just set the prop pill to
        true.
      </p>
      <div class="my-2">
        <t-button pill variant="primary">Primary</t-button>
        <t-button pill variant="secondary">Secondary</t-button>
        <t-button pill variant="outline-success">Success</t-button>
        <t-button pill variant="danger">Danger</t-button>
        <t-button pill variant="warning">Warning</t-button>
        <t-button pill variant="info">Info</t-button>
        <t-button pill variant="light">Light</t-button>
        <t-button pill variant="outline-dark">Dark</t-button>
        <pre><code>{{ pillCode }}</code></pre>
      </div>
      <p class="font-bold text-3xl">Squared style</p>
      <p>
        Prefer buttons with a more square corner style? Just set the prop
        squared to true.
      </p>
      <div class="my-2">
        <t-button squared variant="primary">Primary</t-button>
        <t-button squared>Secondary</t-button>
        <t-button squared variant="outline-success">Success</t-button>
        <t-button squared variant="danger">Danger</t-button>
        <t-button squared variant="warning">Warning</t-button>
        <t-button squared variant="info">Info</t-button>
        <t-button squared variant="light">Light</t-button>
        <t-button squared variant="outline-dark">Dark</t-button>
        <pre><code>{{ squaredCode }}</code></pre>
      </div>
      <p class="font-bold text-3xl">Disabled state</p>
      <p>Set the disabled prop to disable button default functionality</p>
      <div class="my-2">
        <t-button disabled variant="primary">Primary</t-button>
        <t-button :disabled="true" squared>Secondary</t-button>
        <t-button disabled variant="outline-success">Success</t-button>
        <pre><code>{{ disabledCode }}</code></pre>
      </div>
      <p class="font-bold text-3xl">Size button</p>
      <p>Set the size prop to change size sm md lg</p>
      <div class="my-2">
        <t-button squared size="sm" variant="outline-success">Success</t-button>
        <t-button squared size="md" variant="danger">Danger</t-button>
        <t-button pill size="lg" variant="warning">Warning</t-button>
        <pre><code>{{ sizeCode }}</code></pre>
      </div>
      <p class="font-bold text-3xl">Loading</p>
      <p>Set the loading prop to loading button</p>
      <div class="my-2">
        <t-button loading variant="primary">Primary</t-button>
        <t-button loading variant="secondary">Secondary</t-button>
        <t-button loading variant="success">Success</t-button>
        <t-button loading variant="danger">Danger</t-button>
        <t-button loading variant="warning">Warning</t-button>
        <t-button loading variant="info">Info</t-button>
        <t-button loading variant="light">Light</t-button>
        <t-button loading variant="dark">Dark</t-button>
        <pre><code>{{ loadingCode }}</code></pre>
      </div>
    </div>
  </div>
</template>
<script>
import TButton from "../../components/Button/TButton.vue";
export default {
  components: {
    TButton,
  },
  data() {
    return {
      solidcolorVariantsCode: `
      <t-button variant="primary">Primary</t-button>
      <t-button variant="secondary">Secondary</t-button>
      <t-button variant="success">Success</t-button>
      <t-button variant="danger">Danger</t-button>
      <t-button variant="warning">Warning</t-button>
      <t-button variant="info">Info</t-button>
      <t-button variant="light">Light</t-button>
      <t-button variant="dark">Dark</t-button>`,
      borderColorCode: `
      <t-button variant="outline-primary">Primary</t-button>
      <t-button variant="outline-secondary">Secondary</t-button>
      <t-button variant="outline-success">Success</t-button>
      <t-button variant="outline-danger">Danger</t-button>
      <t-button variant="outline-warning">Warning</t-button>
      <t-button variant="outline-info">Info</t-button>
      <t-button variant="outline-light">Light</t-button>
      <t-button variant="outline-dark">Dark</t-button>`,
      blockCode: `
      <t-button block variant="primary">Primary</t-button>
      <t-button block variant="secondary">Secondary</t-button>
      <t-button block variant="success">Success</t-button>
      <t-button block variant="danger">Danger</t-button>
      <t-button block variant="warning">Warning</t-button>
      <t-button block variant="info">Info</t-button>
      <t-button block variant="light">Light</t-button>
      <t-button block variant="dark">Dark</t-button>`,
      pillCode: `
      <t-button pill variant="primary">Primary</t-button>
      <t-button pill variant="secondary">Secondary</t-button>
      <t-button pill variant="outline-success">Success</t-button>
      <t-button pill variant="danger">Danger</t-button>
      <t-button pill variant="warning">Warning</t-button>
      <t-button pill variant="info">Info</t-button>
      <t-button pill variant="light">Light</t-button>
      <t-button pill variant="outline-dark">Dark</t-button>`,
      squaredCode: `
      <t-button squared variant="primary">Primary</t-button>
      <t-button squared>Secondary</t-button>
      <t-button squared variant="outline-success">Success</t-button>
      <t-button squared variant="danger">Danger</t-button>
      <t-button squared variant="warning">Warning</t-button>
      <t-button squared variant="info">Info</t-button>
      <t-button squared variant="light">Light</t-button>
      <t-button squared variant="outline-dark">Dark</t-button>`,
      disabledCode: `
      <t-button disabled variant="primary">Primary</t-button>
      <t-button :disabled="true" squared>Secondary</t-button>
      <t-button disabled variant="outline-success">Success</t-button>
      `,
      sizeCode: `
      <t-button squared size="sm" variant="outline-success">Success</t-button>
      <t-button squared size="md" variant="danger">Danger</t-button>
      <t-button pill size="lg" variant="warning">Warning</t-button>`,
      loadingCode: `
      <t-button loading variant="primary">Primary</t-button>
      <t-button loading variant="secondary">Secondary</t-button>
      <t-button loading variant="success">Success</t-button>
      <t-button loading variant="danger">Danger</t-button>
      <t-button loading variant="warning">Warning</t-button>
      <t-button loading variant="info">Info</t-button>
      <t-button loading variant="light">Light</t-button>
      <t-button loading variant="dark">Dark</t-button>
      `,
    };
  },
};
</script>
